<%= image_tag @portfolio_item.main_image %>
<%= @portfolio_item.title %>
<em><%= @portfolio_item.subtitle %></em>
<p><%= @portfolio_item.body%></p>

<h2>Technologies Used</h2>

<% @portfolio_item.technologies.each do |t| %>
<p><%= t.name %></p>
<% end %>

